@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro|Montserrat|Raleway');
@import url('https://fonts.googleapis.com/css?family=Inconsolata');

$color: {{survey_color}};
$little_dark: darken($color, 5%);
$little_light: lighten($color, 5%);
$middle_light: lighten($color, 10%);
$light: lighten($color, 15%);
$dark: darken($color, 15%);

.grid {
  display: grid;
  overflow: scroll;
  width: 100%;
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: $light;

}

.container-fluid {
  background-color: $little_light;
}

.survey {
  padding: 20px;
  /* border: 1px solid black; */
  grid-column-start: 2;
  grid-column-end: 2;
  /* justify-items: center;
  justify-self: center; */
  position: center;
  background-color: $little_light;
}

.input-pane {
  grid-column-start: 1;
  padding: 20px;
  border: 1px solid black;
  grid-column-end: 1;
  position: fixed;
  background-color: $middle_light;
}

body {
	font-family: 'Raleway', sans-serif;
	background-color: $light;
}

code {
	font-family: 'Source Code Pro', monospace;
	font-size: 14px;
}

.console {
	font-family: 'Inconsolata', monospace;
	position: fixed;
	bottom: 0;
	width: 100%;
	background: black;
	opacity: .8;
	padding: 20px;
	color: white;
	z-index: 99999;
}

h1, h2, h3, h4, h5, h6 {
	color: #333;
	font-family: 'Montserrat', sans-serif;
}

h1, h2, h3 {
	text-transform: uppercase;
	text-align: left;
	letter-spacing: .1em;
	line-height: 1.2;
}

h1 {
	margin: 36px 0;
}

h1.title{
	color: #416983;
}


h3 {
	font-style: italic;
	font-family: 'Montserrat', sans-serif;
}


p {
	color: #333;
	margin: 35px;
	margin-bottom: 10px;
}

li.l {
  margin-left: 40px;
  margin-right: 35px;
}
