@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro|Montserrat|Raleway');
@import url('https://fonts.googleapis.com/css?family=Inconsolata');


/* header and footer button Stuff */
.footer-icons {
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
}

.right-icons {
  display: flex;
  gap: 20px;
  padding-right: 30px;
}

.header-inputs {
  width: 100%;
  display: inline-grid;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
}

@media (min-width: 840px) {
.header-inputs {
  width: 100%;
  grid-template-columns: 1fr 0.5fr;
  grid-template-rows: 0fr;
  }
}


/* All the buttons in footer should be the same height */
.footer-icons .btn-default {
    height: 70%;
}

/* Make the select feel less squishy on the LHS when the screen is small */
.surveyInput .selectize-control {
    margin-left: 20px;
}

.surveyInput input[type=text] {
    width: 90%;
    margin-left: 20px;
}

.shiny-input-container:not(.shiny-input-container-inline) {
  width: 90%;
}

.surveyInput {
  background-color: white;
  border: 0.5px solid #3A506B;
  border-radius: 20px;
  margin-bottom: 12px;
}

body {
	font-family: 'Raleway', sans-serif;
}



input[type=text]:focus {
    border-bottom: 1.5px solid black;
    -webkit-box-shadow: none
}

input[type=text] {
    font-size: 12pt;
    border: none;
    box-shadow: none;
    border-radius: 0;
    border-bottom: 1px dashed rgba(0,0,0,0.12);
    padding: 15px;
    outline: none;
    color: #3A506B;
    background-color: transparent;
}

input[id='question_title'] {
  margin-left: 10px;
  font-size: 14pt;
}

div[id='option_placeholder'] {
  margin-left: 26px;
}


