.radioMatrixInput .shiny-options-group {
  padding-left: 12px;
  padding-right: 12px;
}

.radioMatrixInput table {
  width: 97.5%;
  border-collapse: separate;
  -webkit-border-vertical-spacing: 1rem;
  -webkit-border-horizontal-spacing: 0.5rem;
}

th, td {
  vertical-align: middle !important;
  text-align: center !important;
  width: 25px;
}

.radioMatrixInput .radio-matrix-buttons-label {
  width: 40%;
}

tr.spaceUnder>td {
  padding-bottom: 1em;
}

.radioMatrixInput .radio-matrix-buttons:hover {
  background-color: #F5F5F5;
}

@media screen and (max-width: 375px) {

  th, td {
        padding-left: 1px !important;
        padding-right: 1px !important;
        font-size: x-small;
  }
}

@media screen and (max-width: 429px) and (min-width: 376px) {

  th, td {
    padding-left: 2px !important;
    padding-right: 2px !important;
    font-size: x-small;
  }
}

@media screen and (max-width: 525px) and (min-width: 430px) {

  th, td {
    padding-left: 2px !important;
    padding-right: 2px !important;
    font-size: smaller;
  }
}

@media screen and (max-width: 767px) and (min-width: 526px) {

  th, td {
    padding-left: 4px !important;
    padding-right: 4px !important;
  }
}

@media screen and (max-width: 992px) and (min-width: 768px) {

    th, td {
    padding-left: 5px !important;
    padding-right: 5px !important;
  }

}

@media screen and (min-width: 993px) {

    th, td {
    padding-left: 5px !important;
    padding-right: 5px !important;
  }

}

.radioMatrixInput .radio-inline input[type=radio] {
    position: relative !important;
}
