.radioMatrixInput .shiny-options-group {
  padding-left: 12px;
  padding-right: 12px;
}

th, td {
  padding: 5px !important;
  vertical-align: middle !important;
  text-align: center !important;
  width: 25px;
}




.radioMatrixInput .radio-inline input[type=radio] {
    position: relative !important;
}
